/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*---------- CUSTOM CSS STYLES ----------*/
:root {
    --body-font: 'Public Sans', sans-serif;
    --header-font: 'Public Sans',  sans-serif;
    --blue: #1F4373;
    --green: #96A61F;
    --yellow: #BF9004;
    --brown: #73532D;
    --red: #A64037;
    --white: rgb(255, 255, 255);
    --black: #121212;
    --off-white: #f0f0f0;
}

body {
    font-family: var(--body-font);
    background-color: var(--white);
    color: var(--black);
    box-sizing: border-box;
    height: 100%;
    overflow-x: hidden;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

header{
    background-color: var(--green);
    color: var(--white);
    align-items: center;
    justify-content: flex-start;
    display: flex;
}

nav div div{
    background-color: var(--black);
    width: 35px;
    height: 5px;
    margin: 6px 0;

}

main, footer{
    margin: 0 auto;
    text-align: center;
}

h1, h2, h3{
    font-family: var(--header-font);
    text-align: center;
    padding: 1rem;
}

header h1 {
    padding: 2rem;
    margin: 0;
    text-align: center;
}

header svg {
    padding: 2rem;
}

nav {
    padding-left: 40px;
    padding-bottom: 20px;
}

nav input {
    position: relative;
    opacity: 0;
    padding: 1rem;
    width: 40px;
    height: 40px;
    bottom: 20px; 
    z-index: 2;
}

#menu {
    position: absolute;
    right: -350px;
    background-color: var(--off-white);
    transition: right 1s ease-out ;
    z-index: 3;
}

#menuToggle input:checked ~ #menu {
        opacity: 1;
        right: 0px;
}


#menu li {
    width: 200px;
    height: 20px;
    text-align: center;
    padding: 20px;
    border-top: .5px solid var(--blue);
}

#menu a {
    text-decoration: none;
    color: var(--blue);

}

#menuToggle {
    height: 1px;
}

#menuToggle span {
    bottom: 45px;
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: var(--white);
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(40deg) translate(-2px, -1px);
  background: var(--white);
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-40deg) translate(0, -1px);
}

#main-ad {
    position: relative;
    height: 800px;
    width: auto;
    background-image: url(images/hero.jpg);
    background-size: cover;
    background-position: center;
}

#main-ad h2 {
    font-size: 2rem;
    text-align: left;
    width: 25%;
    position: absolute;
    top: 200px;
    color: var(--green);
    font-weight: bold;
}

#main-ad p {
    position: absolute;
    top: 300px;
    text-align: left;
    padding: 1rem;
    color: var(--off-white);
}

#main-ad button {
    position: relative;
    top: 470px;
}

.reg-button {
    font-family: var(--header-font);
    width: 200px;
    height: 40px;
    background-color: var(--yellow);
    color: var(--off-white);
    border: none;
}

#categories {
    position: relative;
    height: 660px;
    margin-bottom: 20px;
}

#categories h2 {
    margin-top: 20px;
    font-size: 2rem;
    font-weight: bold;
    width: 150px;
    margin: 0 auto;
    padding-top: 30px;
}

#cat-grid {
    position: relative;
    top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: .5rem;
    gap: 15px;

}

#cat-grid figure {
    grid-row-start: auto;
}


#cat-grid img {
    border-radius: 25%;
    height: 100px;
    width: auto;
}

#categories button {
    position: absolute;
    bottom: 10px;
    right: 80px;
}


figcaption {
    background-color: var(--green);
    color: var(--off-white);
    width: 130px;
    padding: .5rem;
    border-radius: 25px;
    margin: 0 auto;
}

#coupons {
    margin-top: 30px;
    height: 1400px;
}

#coupons h2 {
    color: var(--off-white);
    background-color: var(--blue);
    margin-top: 20px;
    font-size: 2rem;
    font-weight: bold;
    margin: 0 auto;
    padding-top: 30px;
}

#coupons > p {
    color: var(--off-white);
    text-align:left;
    padding: 2rem;
    background-color: var(--blue);
    margin-bottom: 30px;
}

#coupons span {
    font-weight: bold;
}

#coupons img {
    width: 180px;
    height: auto;
}

#coupons-grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 300px;
}

.coupon-container {
    border: 2px dashed var(--black);
}

#coupons button {
    position: relative;
    bottom: -40px;
}

#clubForm {
    background-color: var(--green);
    padding: 0 0 40px 0;
}

#clubForm h2 {
    color: var(--off-white);
    margin-top: 20px;
    font-size: 2rem;
    font-weight: bold;
    margin: 0 auto;
    padding: 30px 0 30px 0;
}

#clubForm label {
    padding: 15px 0 5px 26px;
    margin: 0 auto;
    display: block;
    text-align: left;
}

input:error, select:error, textarea:error{
	background-color: tomato;
}

#clubForm input {
    margin: 0 auto;
    display: block;
    text-align: left;
    border: 2px solid var(--black);
    width: 300px;
    height: 40px;
}

#clubForm input[type="submit"] {
    text-align: center;
    margin: 1rem 0 0 5rem;
    font-family: var(--header-font);
    width: 200px;
    height: 40px;
    background-color: var(--yellow);
    color: var(--white);
    border: 1px solid var(--white);
}

footer {
    height: 400px;
    text-align: left;
}

footer h3 {
    text-align: left;
    padding: 40px 0 20px 20px;
    font-weight: bold;
    font-size: 1.5rem;
}

address {
    padding: 20px;
    line-height: 20px;
}

footer p {
    padding: 20px;
    line-height: 20px;
}

#social {
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

@media screen and (min-width: 600px) {
   header{ 
        justify-content: flex-end;
   }

   header h1 {
        flex-grow: 3;
        padding: .5rem 4rem;
        text-align: left;
   }

   header svg {
        flex-shrink: 1;
        margin-left: 5rem;
   }

   header label {
        flex-shrink: 1;
   }

    #main-ad {
        height: 500px;
    }

    #main-ad h2 {
        font-size: 1.6rem;
        margin: 0 auto;
        text-align: center;
        width: auto;
        left: 145px;
        top:165px;
    }

    #main-ad p {
        font-size: small;
        top: 118px;
        text-align: center;
        padding: 7rem;
    }

    #main-ad button {
        top: 295px;
    }

    .reg-button {
        width: 167px;
        height: 32px;
        font-size: small;
    }

    #categories {
        height: 500px;
    }

    #categories h2 {
        width: auto;
    }

    #cat-grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #categories button {
        right: 216px
    }

    #coupons {
        height: 855px;
    }

    #coupons > p {
        text-align: center;
    }

    #coupons-grid {
        width: auto;
        padding: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .coupons-text {
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #clubForm div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding-bottom: 30px;
    }

    #clubForm input {
        width: 260px;
        height: 28px;
        padding-right: 20px;
    }

    #clubForm input[type="submit"] {
        margin: 0 auto;
    }

    footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 295px;
    }

}

@media screen and (min-width: 1200px) {

    header h1 {
        flex-grow: 1;
    }

    #menuToggle {
        z-index: 0;
        flex-shrink: 1;
    }

    #menuToggle span {
        z-index: -1;
    }

    #menu {
        display: inline-flex;
        position: relative;
        left: -700px;
        top: -100px;
        z-index: 3;
        background-color: var(--green);
    }

    #menu li {
        top: 0;
        width: 70px;
        height: 10px;
        text-align: left;
        color: var(--off-white);
        border: none;
    }

    nav {
        width: 10px;
    }

    .reg-button {
        width: 250px;
    }

    #main-ad h2 {
        left: 460px;
        padding: 0;
    }

    #main-ad p {
        padding: 0;
        margin: 0 auto;
        width: 500px;
        left: 350px;
        top: 200px
    }

    #categories {
        height: 370px;
    }

    #cat-grid {
        margin: 30px;
        display: flex;
        justify-content: space-between
    }

    #categories button {
        right: 470px;
    }

    #coupons {
        height: 820px;
    }


    #clubForm div {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        height: 80px;
        margin: 0 auto;
        
    }

    #clubForm label {
        width: 100px;
        text-align: left;
        margin: 0;
        padding: 10px;
    }

    #clubForm input {
        margin: 5px;
    }

    footer {
        margin: 35px;
    }

    footer h3 {
        padding-top: 70px;
    }
}